body{
	padding: 30px;
    min-height: 8000px;

    
}
nav{
	border-bottom-width: 2px; 
	border-bottom-color: #ccc;
	border-bottom-style: solid; 
	padding: 10px; 
	margin-bottom: 15px; 
	background-color: #fff; 
	font-family: 'Shrikhand', cursive; 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
/*styling the form*/
form{
	border: 1px solid black; 
	padding: 20px; 
    background-color: #FFCAE0;
}
label{
	display: block;
	width: 100px;
	margin-top: 10px;
}
button{
	display: block;
	width: 100px;
	margin-top: 15px;
}
 
[type] {
/*it selects all elements that have a type*/
  border: 1px solid #ccc;
  padding: 5px;
  /*we can use  'input [type]'*/
}

[type = 'text']{
	border: 3px solid black;
	/*it overwrites the existing border*/
}

/*we can select and entire form with [action], if it has the attribute*/
[action = '/login']{
	border: 3px solid black;

}
.fa.fa-question-circle[title~="trust"] {
  border: 1px solid red;

	/*if it has the word 'trust' in the title*/

}
[href^="/register"]
{
	/* ^ is used for when something starts with something*/
	/*here it looks for a href element that starts exactly with /register*/
	/*we have to add the dot*/
	color: #197BDA;
	padding: 5px 5px 5px; 
	text-decoration: underline;
	display: inline-block;
}

[href$=".pdf"]
{
	/* $ is used when we look at how something ends. 
	here it searches for the href element that ends in .pdf*/
	/*we don't have to add the dot*/
	color: #8FCD2D;
	display: inline-block;
	padding: 5px 5px 5px; 
	text-decoration: underline;
}
.website {
  display: inline-block;
   width: 100px; 
   height: 100px;
   background-color: #48DCBB; "
}

.website:hover {
  background-color: black;
  border: 5px solid yellow;
  }
  /*!!!!!:
  .class
  #id 
  :pseudo;*/

  p.child:first-child{
  	/*it selects the first in a set*/
  	/*the class can be removed*/
      background-color: black;
      color: white;
  }


  span:last-child{
  	background-color: purple; 
  	color: white;

  }



  .focusinput{
  	border: 1px solid black;
  	width: 100%;
  	font-size: 30px; 
  	padding: 10px;
  	color: #999;
  	opacity: 0.25;
  }
  .focusinput:focus{
  	/*when we click into it it changes*/
  	border: 3px solid #ccc; 
  	outline: 0;
  	color: black;
  	opacity: 1;
  }


  input[type="checkbox"]:checked {
  	/*we gave it the checked pseudo*/
  	
  	height: 50px;
  	width: 50px;
  }
  input[type="checkbox"]:checked + div.checkeddiv{
    /*when the element is checked and it has the specified div after it*/
    color: #ccc; 
    background-color: green; 
  }

  input:disabled{
  	background-color: black;
  	border: 3px solid pink; 

  }

  input.disabled2:disabled{
    background-color: white;
    border: 1px solid black;
  }
  input:enabled{
  	background-color: #ccc;
  	border: 1px solid black;
  }

  p.para:not(.graph){
  	/*it selects all paragraphs that do not have the "graph" in the class */
   background-color: red;
  }

  .block {
  width: 200px;
  height: 200px;
  display: block;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
}

.block::before {
	/* :hover can also be added*/
  display: inline-block;
  content: ' here is the content ';
  color: #fff;
  background-color: #8c1515;
  position: absolute;
  left: -20px;
  top: -20px;
  width: 200px;
  height: 200px;
  z-index: -1;
}

.block::after {
  display: inline-block;
  content: 'another content';
  color: #fff;
  background-color: #000;
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 200px;
  height: 200px;
  z-index: 0;
}

a[href^='https'] {
  text-decoration: none;
}

a[href^='https']::after {
  content: ' (Secure)';
  font-size: 12px;
  color: green;
}


.label.deal::before {
  content: 'DEAL!!!!';
  background-color: #000;
  display: inline-block;
  padding: 5px;
  color: yellow;
  font-size: 14px;
}

#title{
  text-align: center;
  background-color: #FFDFD2;
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}
.roundimage{
  display: inline-block;
  border: 2px solid red;
  width: 200px; 
  height: 200px;
  border-radius: 50%; 
  
  background-image: url('cat.jpg');
 
 

}