body{
	padding: 30px;
    min-height: 8000px;

    
}
nav{
	border-bottom-width: 2px; 
	border-bottom-color: #ccc;
	border-bottom-style: solid; 
	padding: 10px; 
	margin-bottom: 15px; 
	background-color: #fff; 
	font-family: 'Shrikhand', cursive; 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
/*styling the form*/
form{
	border: 1px solid black; 
	padding: 20px; 
    background-color: #FFCAE0;
}
label{
	display: block;
	width: 100px;
	margin-top: 10px;
}
button{
	display: block;
	width: 100px;
	margin-top: 15px;
}
 
[type] {
/*it selects all elements that have a type*/
  border: 1px solid #ccc;
  padding: 5px;
  /*we can use  'input [type]'*/
}

[type = 'text']{
	border: 3px solid black;
	/*it overwrites the existing border*/
}

/*we can select and entire form with [action], if it has the attribute*/
[action = '/login']{
	border: 3px solid black;

}
.fa.fa-question-circle[title~="trust"] {
  border: 1px solid red;

	/*if it has the word 'trust' in the title*/

}
[href^="/register"]
{
	/* ^ is used for when something starts with something*/
	/*here it looks for a href element that starts exactly with /register*/
	/*we have to add the dot*/
	color: #197BDA;
	padding: 5px 5px 5px; 
	text-decoration: underline;
	display: inline-block;
}

[href$=".pdf"]
{
	/* $ is used when we look at how something ends. 
	here it searches for the href element that ends in .pdf*/
	/*we don't have to add the dot*/
	color: #8FCD2D;
	display: inline-block;
	padding: 5px 5px 5px; 
	text-decoration: underline;
}
 a:hover{
 	color: black;
 }