h4{
	color: purple;
	font-size: 40px;
	font-family: 'Arial', sans-serif;
}

h1{
	/*Named color:*/
	/*color:pink;*/

	/*Hex colors:*/;
	 color: #d631c9;
	/*color codes digits range from 1 - 9 and then from a-f*/

    /*RGB colors*/
	/*color: rgb(20, 120, 80);*/
	/*red,green, blue; colors go from 0 to 255*/
}

body{
   
   color: black;
   margin: 20px;
   padding: 0px;
	
	/* background-color: #BAAAFE; */
}
div{
	font-size: 16px;
}
div.coral{
	background-color: #EACDF2;
	color: #56365E;

}
nav {
	 
	border-style: dashed; 
	border-width: 5px; 
	border-color:  #8320E4;

	border-bottom-width: 2px; 
	border-bottom-color: #2FDA26;
	border-bottom-style: solid;

	background-color: #FF9DC2;
	
}
p{
	display: inline-block;
	width: 100px; 
	height: 50px; 
	padding: 10px; 
	margin: 10px;
	border: 1px solid black;
}
#padd{
	border-width: 1px; 
	border-color: black;
	border-style: solid; 

	/*padding: 5px;*/
	/*the long way is to padd top, right, bottom, left, in that order */
    padding: 6px 0 8px 9px; 
          /*top,right,bott,left*/
}

p.blue{
	color: blue;
}
p.orange{
	color: orange;
}

/*text aligns:*/
div.left{
	text-align: left;
	/*it is automatically align to left*/
}

div.right{
	text-align: right;
}
div.center{
	text-align: center;
}
div.justify{
	text-align: justify;
	/*extra space between the words so the first word touches the left border, and the last right word touches the right*/
}

.textdec{
	/* text-decoration: underline;*/
	/*overline,...*/
	text-decoration: line-through; /*strike - s in HTML*/
	color: red;
	text-decoration-color: blue;
	text-decoration-style: dotted;
 

}
#transf{
	text-transform: lowercase;
	text-transform: capitalize;
	/*text-transform: initial; */
	/*resets text to default style*/
}
 .indent{
 	text-indent: 60px;
 }