body{
	padding: 30px;
    min-height: 8000px;

    
}
nav{
	border-bottom-width: 2px; 
	border-bottom-color: #ccc;
	border-bottom-style: solid; 
	padding: 10px; 
	margin-bottom: 15px; 
	background-color: #fff; 
	font-family: 'Shrikhand', cursive; 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
/*styling the form*/
form{
	border: 1px solid black; 
	padding: 20px; 
    background-color: #FFCAE0;
}
label{
	display: block;
	width: 100px;
	margin-top: 10px;
}
button{
	display: block;
	width: 100px;
	margin-top: 15px;
}
 [type] {
	/*it selects all elements that have a type*/
	border: 2px solid #ccc;
	/*we can use  'input [type]'*/
}

[type = 'text']{
	border: 3px solid black;
	/*it overwrites the existing border*/
}

/*we can select and entire form with [action], if it has the attribute*/
[action = '/login']{
	border: 5px solid black;

}
.p [title ~='paragraph']{
	border: 1px solid red;
	/*if it has the word 'paragraph' in the title*/

}