body{
	padding: 30px;
	background-image: url('light-1282314_1920.jpg');
	background-repeat: repeat-y;
    min-height: 8000px;
    /* overflow-x: hidden; */
}
nav{
	border-bottom-width: 2px; 
	border-bottom-color: #ccc;
	border-bottom-style: solid; 
	padding: 10px; 
	margin-bottom: 15px; 
	background-color: #fff; 
	font-family: 'Shrikhand', cursive; 
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

/* mouse over link */
.link2:hover {
  color: hotpink;
}
h1{
	color: #259CF2;
}

/*the same :active, :visited*/
/*visited is when after you click a link it changes*/ 
/*active state is when you click on a link it changes*/

div,p{
	font-family: 'Sofia', cursive;
	color: #0B4F5E;
}

.certain-class,span{
	color: purple;
}
/*you can also group multiple classe*/

#bodyofselctors div p span{
	color: red;
	text-decoration:  underline;

}
span > div > p {
	color: #F51D82;
}
/*it is only gonna look for the p that has a parent of div that has a parent os span*/

form, label + input{
	background-color: transparent;

}
/*we look inside form then label and the first input element after it-->
/*if the input is not right after the label and there is something between them it doesn't work*/
ol{
	/*list-style-type: circle;
	/*we also have lower and upper roman, decimal, upper lower alpha,...*/
	list-style-type: none;
}
ol > li{
	border: 1px solid black;
	padding: 8px;
	width: 50%;
	text-align: center;


}
ul.inside{
list-style-position: inside;
}
ul.outside{
list-style-position: outside;
}

ul.image{
	/*list-style-image: url('square.gif');*/
	/*use like a 10 by 10 images*/
}
table {
	width: 100%;
	padding: 5px;
	border: 2px solid #5F11C0;
	/*affecting the border on the outside*/
	border-collapse: collapse;
	/*gets rid of the outside border*/
}
.thov:hover{
	/*background-color: yellow;*/
}
table tr:hover{
	background-color: #ccc;
}
span{
	display: block;
	border: 1px solid red;
}
.inline{
	border: 1px solid black; 
	display: inline;
}
.inlineblock1{
	border: 1px solid green;
	 display: inline-block;
}
.inlineblock2{
	 border: 1px solid black;
	 width: 100px;
	 width: 100px; 
	 text-align: center;
	 display: inline-block;
}
.height{
	height: 150px; 
	width: 150px;
	border: 1px solid red;
	display: inline-block;
}
.position {
	display: inline-block; 
	border: 1px solid green; 
	width: 60px; height: 60px;
	background-color: white;
}
/*overlapping elements:*/
.rel{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 200px; 
	border: 1px solid orange;
	background-color: #fff;
}
.abs{
	position: absolute;
	display: inline-block;
	width: 50px; 
	height: 50px; 
	border: 1px solid green;
	background-color: pink;
}

.abs1{
	z-index: 10;
	/*like x and y axis, z is the axis for 3d dimension*/
	/*can also have negative values*/
}
.abs2{
	background-color:  red; 
    color: #fff; 
    border-color: red; 
    top: 25px; 
    left: 25px; 
    z-index: 0;

}