h1{
	background-color: black;
	color: white;
	text-align: center;
}
h2,h3,h4{
	text-align: center;
}
body{
	background-color: #ccc; 
	padding: 50px;
}
.flex-parent{
	display: flex;
	border: 1px solid red;
}
.flex-parent div{
	border: 1px solid blue;
	/*flex-basis: 33%;*/

	/*equal size columns*/
	/*each column has a width of 33%*/
	/*Are these flexible? Are these allowed to shrink?:*/

	flex-shrink: 1;
	flex-grow: 1;
	/*1 stands for true*/
}

.col2
{
	flex: 0 1 25% ;
	/*grow, shrink, basis*/
	background-color: yellow;

	order: 1;
}

.col3{
	flex-basis: 50%;
	flex-grow: 1; 
	flex-shrink: 0;

	order:  2;
 }
.col1{
	flex-basis: 50%;
	flex-shrink: 0;'
	flex-grow: 1;
	background-color: pink;

	order: 3;
}