body {
  margin: 0;
  padding: 0;
  background-color: #A8F2D0;
}

nav {
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}
label{
  
  margin: 0 auto;
}

 input, textarea, button {
  display: block;
   margin: 0 auto;
}
.content {
  max-width: 500px;
  
  margin: 0 auto;

  
}
form{
  border: 1px solid black;
  font-size: 15px;
  font-family: 'Monaco', monospace;
  padding: 5px;
  
}
nav{
  background-color: #C5EEDC;
}
